@model PPP_Pozoriste.Models.Glumi

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalji o dodeljenom glumcu i predstavi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Glumac.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glumac.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Glumac.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glumac.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predstava.NazivPredstave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predstava.NazivPredstave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.GlumiID }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
