@model PPP_Pozoriste.Models.Predstava

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji</h2>

<div>
    <h4>Detalji i ostale informacije o predstavi  "@Html.DisplayFor(model => model.NazivPredstave)"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivPredstave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivPredstave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zanr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zanr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duzina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duzina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scenarista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scenarista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reditelj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reditelj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.PredstavaID }) |
    @Html.ActionLink("Nazad na listu", "Index")
</p>
